<h2 style="margin-top:60px">Upcoming Dinners</h2>
<ul id="dinner-list" class="list-group">
  <% @dinners.each do |dinner| %>
  <li id="<%=dinner[:_id] %>" class="list-group-item">
      <%=dinner[:title] %>
      <a href="/details/<%= dinner[:_id] %>" class="btn-xs btn-success pull-right">Details</a>
  </li>
  <% end %>
</ul>
